body{font-family: "Arial";}
a{text-decoration: none;}

.product-container{width:300px; height:255px; border:1px solid #aaa; margin:10px; display:inline-block;}
.product-container img{width:100%; height:auto;}
.row{max-width:946px;}

.col1{float:left;}
.col2{margin:10px auto;}
.col3{float:right;}

.description{padding:10px;}

.title{font-size:20px; position: relative; top:-200px;}
.tagline{position: relative; top:-200px;}

/*image description hover*/
.product-container img {
	position: relative;
    left: 0;
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;
}

.product-container .description {
    font-size: 12px;
    background-color: rgba(0,0,0,0.8);  
    position: relative;
  	top: -1px;
    color: #fff;  
    z-index: 100;
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    top: -202px;
    left: 0;  
    opacity: 0;
    width: 299px;  
    height: 202px;
    text-align: left;  
    padding: 15px;
}

.product-container:hover .description {
    opacity: 1;
}